@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Thank you for your submission!";
}
<!--This is the confirmation page for user submissions that has navigation to all other pages-->
<div class="text-center">
    <img src="~/food.jpg" class="rounded" /><br /> <br />
    <a class="btn btn-primary" asp-action="AddRest">Suggest More Restaurants</a>     <a class="btn btn-primary" asp-action="RestList">See All Restaurant Submissions</a> 
</div>
